<ng-container>
  <ng-loading *ngIf="loading" [table]="true"></ng-loading>
  <mat-table *ngIf="data.length; else noRecords" [dataSource]="data">
    <ng-container matColumnDef="identifier">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.identifier' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">{{ record.identifier }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.code' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">
        {{ record.rootCode }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nameInEstonian">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.name_ee' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">
        {{ record.nameInEstonian }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nameInEnglish">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.name_en' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">
        {{ record.nameInEnglish }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.type' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">
        {{ record.typeCode }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef>
        {{ 'text.class' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">
        {{ record.classCode }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'text.group' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let record">{{ record.groupCode }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let record">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit.emit(record.uuid)">
            {{ 'system.edit' | translate }}
          </button>
          <button
            mat-menu-item
            [disabled]="record.connectedTo"
            (click)="remove.emit(record.uuid)"
          >
            {{ 'system.delete' | translate }}
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</ng-container>
<ng-template #noRecords>
  <div class="empty-table">
    <h3>
      {{ 'text.no_records' | translate }}
    </h3>
  </div>
</ng-template>
